
#otp-input{
    text-align: center;
    width: 50px;
    margin: 10px 10px;
}
.checkbox{
    margin: auto;
    justify-content: center;
}

.sec-gap{
    padding: 60px 0 ;
}
.checkcode {
    background-image: linear-gradient(#C89ACB, #F2E5F3);
    background-repeat: no-repeat;
    /* min-height: 100%; */
    height: 100vh;
    position: relative;
}
.checkcode .exam img{
    position: absolute;
    bottom: 0;
    right: 0px;
    }

.signupBtn{
    background-color:#8A288E;
    border-radius: 50px;
    padding: 0 0;
}
.btn{
    color: #fff;    
}
.main-img{
    max-width: 150px;
    margin: auto;
}
.checkcode .container .form{
    position: relative;
    /* top: 150px; */
}
