.sec-gap{
    padding: 60px 0 ;
}
.login {
    background-image: linear-gradient(#C89ACB, #F2E5F3);
    background-repeat: no-repeat;
    max-height: 100vh;
    position: relative;
}
.login .exam img{
    position: absolute;
    bottom: 0;
    right: 0px;
    }

.signupBtn{
    background-color:#8A288E;
    border-radius: 50px;
    padding: 0 0;
}
.btn{
    color: #fff;    
}
.main-img{
    max-width: 150px;
    margin: auto;
}
